<article style="flex: 3; box-shadow: none;">
	<header>
	   <nav>
		  <hgroup>
			 <h1 style="display:inline; vertical-align:middle;">Přehled</h1>
			 <p style="display:inline; vertical-align:bottom; margin-left: 1rem">
				<%= clas["trida"].slice(-1); %>. Pololetí -
				<%= clas["trida"].slice(0, 1); %>.<%= clas["trida"].slice(1, 3).toUpperCase(); %>
			 </p>
		  </hgroup>
		  <hgroup style="display: flex; gap: 0.5em;">
			 <div role="group" style="width: 20rem">
				 <input class="createButton, mainButton" style="width: 8rem; padding: 0; min-height: 0; height: 2em; margin: 0; line-height: 1em;" type="button" value="Přehled" onclick="showElementAndHideElement('class', 'classDetails')" />
				 <input class="createButton" style="width: 8rem; padding: 0; min-height: 0; height: 2em; margin: 0; line-height: 1em;" type="button" value="Detaily" onclick="showElementAndHideElement('classDetails', 'class'); sortTableAndOutput();" />
				</div>
				<input class="saveButton" style="width: 8rem; padding: 0; min-height: 0; height: 2em; margin: 0; line-height: 1em;" type="button" value="Uložit" onclick="save();" />
			</hgroup>
	   </nav>
	</header>
 
	<main>
	   <div class="timeline-container">
		  <div class="timeline">
			 <div class="progress"></div>
			 <div class="circle"></div>
			 <div class="circle"></div>
			 <div class="circle"></div>
			 <div class="circle"></div>
			 <div class="circle filled"></div>
			 <div class="circle filled"></div>
			 <div class="circle filled"></div>
		  </div>
		  <div class="labels">
			 <div>0</div>
			 <div>1</div>
			 <div>2</div>
			 <div>3</div>
			 <div>4</div>
			 <div>5</div>
			 <div>6</div>
		  </div>
	   </div>
		<div id="hiddenDate" style="display:none">
			<% if (clas["datum"] != undefined) { %>
			   <%= clas["datum"] %>
			<% } else { %>
			   <span>Datum není k dispozici</span>
			<% } %>
		 </div>
 
	   <div style="display: flex; position: relative; overflow-y: auto; max-height: calc(100vh - 16em); padding-right: 15px;">
		  <div id="mainThing" style="flex: auto">
			<label for="datum"><strong>Datum pitche třídy</strong></label>
			<input type="date" id="datum" name="datum" value="<%= clas.datum || '' %>">
			<table id="curriculums">
				<thead style="position: sticky; top: 0; z-index: 1; background-color: white;">
				   <tr>
					  <th style="width: 10%; text-align: center; vertical-align: middle;">Tým</th>
					  <th style="width: 40%; padding-left: 50px; text-align: center; vertical-align: middle;">Členové</th>
					  <th style="width: 40%; padding-left: 15px; text-align: center; vertical-align: middle;">Téma</th>
				   </tr>
				</thead>
				 
				<tbody id="table-body">
					<% if (clas["tymy"] != undefined) { %>
					   <% for (let i = 0; i < clas["tymy"].length; i++) { %>
						  <% let team = clas["tymy"][i]; %>
						  <tr class="cur">
							 <td style="display: flex; align-items: center;" class="curriculum-input">
								<input type="button" value="-" class="deleteCurButton" style="margin-bottom: 0px;" onclick="deleteTeam(this)">
								<div class="teamId" style="margin: 0 auto;"><%= team.cislo %></div>
								<div class="ActulTeamId" style="display: none"><%= team.cislo %></div>
							 </td>
							 <td style="text-align: center;" class="curriculum-input">
								<%= team["clenove"] ? team["clenove"] == [] ? team["clenove"].join(', ') : "žádní členové" : "žádní členové" %>
							 </td>
							 <td style="text-align: center;" class="curriculum-input">
								<input type="text" value="<%= team["tema"] || '' %>" style="width: 90%; margin: 0px; text-align:center;" class="curriculum-i, description">
							 </td>
						  </tr>
					   <% } %>
					<% } %>
					<tr style="position: sticky; bottom: 0; z-index: 1">
					   <td colspan="7">
						  <input class="createButton" style="padding: 0; min-height: 0; height: 2em; margin: 0" type="button" value="+" onclick="addNewTeam(this)" />
					   </td>
					</tr>
				 </tbody>
			  </table>
		  </div>
	   </div>
	</main>
 </article>
 
