<!DOCTYPE html>
<%- include('../partials/head'); %>
<link rel="stylesheet" href="/osnovy/css/main.css" />
<link rel="stylesheet" href="/projekty/css/main.css" />
<article style=" width: 20vw; min-width: 20vw; margin-right: 1em; resize: horizontal; ">
   <header>
      <h1 style="display:inline; vertical-align:middle;">Projekty</h1>
	</header>
   <main style="justify-content: center;">
		<h3>1. Pololetí</h3>
        <div id="2ep-1">
            <input style="margin-left: 0;" type="button" value="2.EP" onclick="window.location.href = '/projekty/2ep-1';">
				<% if (al["nextID"] > 1) { %>
					<% for (let i = 1; i < al["nextID"]; i++) { %>
						<% if (al[i]["trida"] != "2ep-1") { continue; } %>
						<% let teams = al[i]["tymy"]%>
						<% for (let iT = 0; iT < teams.length; iT++) { %>
							
							<input type="button" value="2.EP Tým <%= iT+1 %>" style="margin-left: 20%; width: 60%;" onclick="window.location.href = '/projekty/2ep-1-<%= iT+1 %>';">
							
						<% } %>
					<% } %>
				<% } %>
        </div>
         <div id="3ep-1">
            <input style="margin-left: 0;" type="button" value="3.EP" onclick="window.location.href = '/projekty/3ep-1';">
				<% if (al["nextID"] > 1) { %>
					<% for (let i = 1; i < al["nextID"]; i++) { %>
						<% if (al[i]["trida"] != "3ep-1") { continue; } %>
						<% let teams = al[i]["tymy"]%>
						<% for (let iT = 0; iT < teams.length; iT++) { %>
							
							<input type="button" value="3.EP Tým <%= iT+1 %>" style="margin-left: 20%; width: 60%;" onclick="window.location.href = '/projekty/3ep-1-<%= iT+1 %>';">
							
						<% } %>
					<% } %>
				<% } %>
         </div>                                                      
         <div id="4ep-1">                                            
            <input style="margin-left: 0;" type="button" value="4.EP" onclick="window.location.href = '/projekty/4ep-1';">
				<% if (al["nextID"] > 1) { %>
					<% for (let i = 1; i < al["nextID"]; i++) { %>
						<% if (al[i]["trida"] != "4ep-1") { continue; } %>
						<% let teams = al[i]["tymy"]%>
						<% for (let iT = 0; iT < teams.length; iT++) { %>
							
							<input type="button" value="4.EP Tým <%= iT+1 %>" style="margin-left: 20%; width: 60%;" onclick="window.location.href = '/projekty/4ep-1-<%= iT+1 %>';">
							
						<% } %>
					<% } %>
				<% } %>
         </div>                                                      
		<h3>2. Pololetí</h3>                                           
        <div id="1ep-2">                                             
            <input style="margin-left: 0;" type="button" value="1.EP" onclick="window.location.href = '/projekty/1ep-2';">
				<% if (al["nextID"] > 1) { %>
					<% for (let i = 1; i < al["nextID"]; i++) { %>
						<% if (al[i]["trida"] != "1ep-2") { continue; } %>
						<% let teams = al[i]["tymy"]%>
						<% for (let iT = 0; iT < teams.length; iT++) { %>
							
							<input type="button" value="1.EP Tým <%= iT+1 %>" style="margin-left: 20%; width: 60%;" onclick="window.location.href = '/projekty/1ep-2-<%= iT+1 %>';">
							
						<% } %>
					<% } %>
				<% } %>
        </div>                                                       
         <div id="2ep-2">                                            
            <input style="margin-left: 0;" type="button" value="2.EP" onclick="window.location.href = '/projekty/2ep-2';">
				<% if (al["nextID"] > 1) { %>
					<% for (let i = 1; i < al["nextID"]; i++) { %>
						<% if (al[i]["trida"] != "2ep-2") { continue; } %>
						<% let teams = al[i]["tymy"]%>
						<% for (let iT = 0; iT < teams.length; iT++) { %>
							
							<input type="button" value="2.EP Tým <%= iT+1 %>" style="margin-left: 20%; width: 60%;" onclick="window.location.href = '/projekty/2ep-2-<%= iT+1 %>';">
							
						<% } %>
					<% } %>
				<% } %>
         </div>                                                      
         <div id="3ep-2">                                            
            <input style="margin-left: 0;" type="button" value="3.EP" onclick="window.location.href = '/projekty/3ep-2';">
				<% if (al["nextID"] > 1) { %>
					<% for (let i = 1; i < al["nextID"]; i++) { %>
						<% if (al[i]["trida"] != "3ep-2") { continue; } %>
						<% let teams = al[i]["tymy"]%>
						<% for (let iT = 0; iT < teams.length; iT++) { %>
							
							<input type="button" value="3.EP Tým <%= iT+1 %>" style="margin-left: 20%; width: 60%;" onclick="window.location.href = '/projekty/3ep-2-<%= iT+1 %>';">
							
						<% } %>
					<% } %>
				<% } %>
         </div>
	</main>
</article>


<div id="overlay" class="overlay"></div>
<!-- Upload tlačítko je v class.ejs -->
<article class="class" style="flex: 3;">
		<% if (files != "none") { %>
			<div class="classOverview" id="class" >
				<% if (team != undefined) { %>
					<%- include(`./${files}.ejs`); %>
				<% } %>
			</div>
			
			<div class="classDetails" id="classDetails" style="display: none">
				<% if (team != undefined) { %>
					<%- include(`./${files}Details.ejs`); %>
				<% } %>
			</div>
			
		<% } %>
</article>



<script src="/osnovy/js/main.js"></script>
<script src="/projekty/js/main.js"></script>
<script src="/projekty/js/team.js"></script>
<%- include('../partials/tail') %>
