<article style="flex: 3; box-shadow: none;">
   <header>
      <nav>
        <hgroup>
          <h1 style="display:inline; vertical-align:middle;">Detaily</h1>
			 <p style="display:inline; vertical-align:bottom; margin-left: 1rem" >
				
				<%= clas["trida"].slice(-1); %>. Pololetí -
				<%= clas["trida"].slice(0, 1); %>.<%= clas["trida"].slice(1, 3).toUpperCase(); %>
				
			 </p>
        </hgroup>
		  <hgroup style="display: flex; gap: 0.5em;">
			  <input class="saveButton" style="width: 8rem; padding: 0; min-height: 0; height: 2em; margin: 0; line-height: 1em;" type="button" value="Uložit" onclick="saveTeam();" />
			  <div role="group" style="width: 20rem">
				<input class="createButton" style="width: 8rem; padding: 0; height: 2em; margin: 0; line-height: 1em;" type="button" value="Přehled" onclick="showElementAndHideElement('class', 'classDetails')" />
				<input class="createButton mainButton" style="width: 8rem; padding: 0; height: 2em; margin: 0; line-height: 1em;" type="button" value="Detaily" onclick="showElementAndHideElement('classDetails', 'class')" />
			  </div>
			</hgroup>
      </nav>
	</header>
   <main>
		
		<div class="timeline-container">
				  <div class="timeline">
						<div class="progress"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle filled"></div>
						<div class="circle filled"></div>
						<div class="circle filled"></div>
				  </div>
				  <div class="labels">
						<div>0</div>
						<div>1</div>
						<div>2</div>
						<div>3</div>
						<div>4</div>
						<div>5</div>
						<div>6</div>
				  </div>
			 </div>
	
		<div id="hiddenDate" style="display:none">
			<% if(clas["datum"] != undefined) { %><%= clas["datum"] %><% } %>
		</div>
			
      <div style=" display: flex; position: relative; overflow-y: auto; max-height: calc(100vh - 14em); padding-right: 15px; ">
         <div id="mainThing" style="flex: auto">
			
 				<table id="teamDetailsTable">
               <thead>
						<tr style="display: none" id="teamsRow">
                     <th style="width: 25%; text-align: center;" colspan="2"></th>
							<th style="text-align: center;">Tým1</th>
							<th style="text-align: center;">Tým2</th>
							<th style="text-align: center;">Tým3</th>
							<th style="text-align: center;">Tým4</th>
						</tr>
                  <tr id="membersRow" class="tdtMembers" style="position: sticky; top: 0; z-index: 1">
                     <th style="width: 25%; text-align: center;" colspan="2"></th>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<th style="text-align: center;"><%= team["clenove"][i] %></th>
							<% } %>
						</tr>
						<tr id="pitchRow" class="tdtMembers">
                     <th></th> <!-- colspan="2" na Pitchi rozbíjel text-align: center -->
                     <th style="width: 25%; text-align: center;">Účastnil/a se pitche</th>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<th style="text-align: center;"><input type="checkbox" style="margin: 0" <% if (team["pitch"]["ucast"][i]) { %> checked <% } %>></th>
							<% } %>
						</tr>
					</thead>
               <tbody id="table-body">
						<tr class="tdtMembers">
                     <td style="text-align: center;" rowspan="4">1.</td>
							<td style="text-align: center;">1/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers">
							<td style="text-align: center;">2/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers marksCommits">
							<td style="text-align: center;">Známka za commity</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyCom"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyCom"][i]["znamky"][0] > 0) { %><%= team["znamkyCom"][i]["znamky"][0] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers marksDevlogs">
							<td style="text-align: center;">Známka za devlog</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyDev"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyDev"][i]["znamky"][0] > 0) { %><%= team["znamkyDev"][i]["znamky"][0] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers">
                     <td style="text-align: center;" rowspan="4">2.</td>
							<td style="text-align: center;">1/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers">
							<td style="text-align: center;">2/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers marksCommits">
							<td style="text-align: center;">Známka za commity</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyCom"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyCom"][i]["znamky"][1] > 0) { %><%= team["znamkyCom"][i]["znamky"][1] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers marksDevlogs">
							<td style="text-align: center;">Známka za devlog</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyDev"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyDev"][i]["znamky"][1] > 0) { %><%= team["znamkyDev"][i]["znamky"][1] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers">
                     <td style="text-align: center;" rowspan="4">3.</td>
							<td style="text-align: center;">1/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers">
							<td style="text-align: center;">2/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers marksCommits">
							<td style="text-align: center;">Známka za commity</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyCom"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number"value="<% if (team["znamkyCom"][i]["znamky"][2] > 0) { %><%= team["znamkyCom"][i]["znamky"][2] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers marksDevlogs">
							<td style="text-align: center;">Známka za devlog</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyDev"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyDev"][i]["znamky"][2] > 0) { %><%= team["znamkyDev"][i]["znamky"][2] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers">
                     <td style="text-align: center;" rowspan="4">4.</td>
							<td style="text-align: center;">1/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers">
							<td style="text-align: center;">2/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers marksCommits">
							<td style="text-align: center;">Známka za commity</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyCom"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyCom"][i]["znamky"][3] > 0) { %><%= team["znamkyCom"][i]["znamky"][3] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers marksDevlogs">
							<td style="text-align: center;">Známka za devlog</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyDev"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyDev"][i]["znamky"][3] > 0) { %><%= team["znamkyDev"][i]["znamky"][3] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers">
                     <td style="text-align: center;" rowspan="4">5.</td>
							<td style="text-align: center;">1/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers">
							<td style="text-align: center;">2/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers marksCommits">
							<td style="text-align: center;">Známka za commity</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyCom"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyCom"][i]["znamky"][4] > 0) { %><%= team["znamkyCom"][i]["znamky"][4] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers marksDevlogs">
							<td style="text-align: center;">Známka za devlog</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyDev"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyDev"][i]["znamky"][4] > 0) { %><%= team["znamkyDev"][i]["znamky"][4] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers">
                     <td style="text-align: center;" rowspan="4">6.</td>
							<td style="text-align: center;">1/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers">
							<td style="text-align: center;">2/2</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<td style="text-align: center;">0</td>
							<% } %>
						</tr>
						<tr class="tdtMembers marksCommits">
							<td style="text-align: center;">Známka za commity</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyCom"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyCom"][i]["znamky"][5] > 0) { %><%= team["znamkyCom"][i]["znamky"][5] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
						<tr class="tdtMembers marksDevlogs">
							<td style="text-align: center;">Známka za devlog</td>
							<% for (let i = 0; i < team["clenove"].length; i++){ %>
								<% if (team["znamkyDev"] != undefined) { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="<% if (team["znamkyDev"][i]["znamky"][5] > 0) { %><%= team["znamkyDev"][i]["znamky"][5] %><% } %>" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } else { %>
									<td style="text-align: center;"><input class="dropdown-item" type="number" value="" style="margin: 0" min="1" max="5" placeholder="neznámkováno"></td>
								<% } %>
							<% } %>
						</tr>
					</tbody>
				</table>
			</div>
         
		</div>
	</main>
</article>
