<!DOCTYPE html>
<html lang="cs" style="max-height: 100vh; max-width: 100vw">
    <head style="flex: none">
        <%- include('../partials/head'); %>
        <style>
            .grid-container {
              display: grid;
              grid-template-columns: auto auto auto auto auto auto;
              padding: 10px;
            }
            .grid-item {
              border: 1px solid rgba(0, 0, 0, 0.8);
              padding: 20px;
              font-size: 30px;
              text-align: center;
              scroll-margin: 325px;
            }
            </style>
    </head>
    <body style="display: flex; flex-direction: column; height: 100vh; overflow-y: none;">
        <%- include('../partials/header'); %>
        <main
            style="
                padding: 1em;
                padding-bottom: 0;
                flex: auto;
                overflow-y: auto;
                background-image: linear-gradient(
                    45deg,
                    hsla(192, 100%, 50%, 0.1) 0%,
                    hsla(162, 100%, 50%, 0.1) 50%,
                    hsla(132, 100%, 50%, 0.1) 100%
                );
                display: flex;
            "
        >
            <article
                style="
                    width: 20vw;
                    min-width: 20vw;
                    margin-right: 1em;
                    overflow-y: auto;
                    resize: horizontal;
                "
            >
                <h1>Sidebar</h1>
                <p>
                    
                    <a style="color: black;" href="../kalendar/tydenni">Týdenní</a>
                    <br>
                    <a style="color: black;" href="../kalendar/">Měsíční</a>
                    
                </p>
            </article>
            <article style="flex: 3; overflow-y: auto;">
                <h1>Měsíční kalendář</h1>
                    <button onclick="scrollToCurrent()">Aktuální</button>
                    <select name="months" id="months">
                        <option value="8">Srpen</option>
                        <option value="9">Září</option>
                        <option value="10">Říjen</option>
                        <option value="11">Listopad</option>
                        <option value="12">Prosinec</option>
                        <option value="1">Leden</option>
                        <option value="2">Únor</option>
                        <option value="3">Březen</option>
                        <option value="4">Duben</option>
                        <option value="5">Květen</option>
                        <option value="6">Červen</option>
                        <option value="7">Červenec</option>
                    </select>
                    <button onclick="scrollToMonth()">Na měsíc</button>

                    <section class="grid-container">
                        <p class="grid-item">Pondělí</p>
                        <p class="grid-item">Úterý</p>
                        <p class="grid-item">Středa</p>
                        <p class="grid-item">Čtvrtek</p>
                        <p class="grid-item">Pátek</p>
                        <p class="grid-item">Víkend</p>
                        <%
                            let startDate = new Date(2024,7,1);
                            let endDate = new Date(2025,6,31);
                            const increment = 24 * 60 * 60 * 1000 //Miliseconds per day
                            let a = false
                            console.log("aaa")
                        %>
                        <% for (let i = startDate.getTime(); i <= endDate.getTime();i += increment) {%>
                            <% if(new Date(i).getDay() != 0) {%>

                            <section id=<%= new Date(i).getDate()%>-<%= new Date(i).getMonth() + 1%>  style="grid-column-start: <%= new Date(i).getDay()%> ;" class="grid-item">
                                <% if(new Date(i).getDay() == 6) {%>
                                <p><%= new Date(i).getDate()%> / <%= new Date(i).getMonth() + 1%> - <%= new Date(i+increment).getDate()%> / <%= new Date(i+increment).getMonth() + 1%></p>
                                <% }else{%>
                                    <p><%= new Date(i).getDate()%> / <%= new Date(i).getMonth() + 1%></p>
                                <% }%>
                                <% if (new Date(i).getDate() == date_udalost[0] && new Date(i).getMonth() + 1 == date_udalost[1]) {%>
                                <p><%= date_udalost[2]%></p>  
                                <%}%>  
                            </section>
                            

                            <% }%>  
                        <% }%>                
                    </section>
            </article>
        </main>
    <script>
        function scrollToCurrent() {
            const month = new Date().getMonth()+1
            const currentDate = new Date().getDate() + "-" + month
            console.log(currentDate)
            const element = document.getElementById(currentDate)
            element.scrollIntoView()
        }

        function scrollToMonth() {
            const select = document.getElementById("months")
            const month = select.value
            const selected = document.getElementById("1-"+month)
            console.log(month)
            selected.scrollIntoView()
        }
    </script>
    </body>
</html>
