<!DOCTYPE html>
        <%- include('../partials/header'); %>
        <style>
            /* Používaný barvičky: */
            /* :root {
                --def-modr-color: #0172ad;
            } */
            h1 {
                padding: 20px;
                text-align: center;
            }
            .grid-container {
              display: grid;
              grid-template-columns: repeat(6, minmax(150px, 1fr));;
              padding: 20px;
            }
            .grid-item {
              border: 1px solid rgba(0, 0, 0, 0.8);
              padding: 20px;
              font-size: 20px;
              text-align: center;
              scroll-margin: 325px;
              margin: 0;
            }
            .days-header {
                position: sticky;
                top: 70px;
                z-index: 9;
                padding: 20px;
                padding-bottom: 0;  
                margin: 0;
            }
            #quick-nav {
                position: sticky;
                top: 0;
                z-index: 10;
                margin-top: 0;
                padding: 15px;
            }

        </style>

        <main
            style="
                padding: 1em;
                padding-bottom: 0;
                flex: auto;
                overflow-y: auto;
                background-image: linear-gradient(
                    45deg,
                    hsla(192, 100%, 50%, 0.1) 0%,
                    hsla(162, 100%, 50%, 0.1) 50%,
                    hsla(132, 100%, 50%, 0.1) 100%
                );
                display: flex;
            "
        >

            <article style="flex: 3; overflow-y: auto; padding: 0;">
                <header>
                    <h1>Kalendář</h1>
                    <div role="group">
                        <button class="outline" hx-get="/kalendar/tydenni" hx-target="body" hx-push-url="true">
                            Týdenní
                        </button>
                        <button hx-get="/kalendar" hx-target="body" hx-push-url="true">
                            Měsíční
                        </button>
                    </div>
                </header>

                <div role="group" id="quick-nav">
                    <button onclick="scrollToCurrent()">Aktuální</button>
                    <select name="months" id="months" ">
                        <option value="8">Srpen</option> 
                        <option value="9">Září</option>
                        <option value="10">Říjen</option>
                        <option value="11">Listopad</option>
                        <option value="12">Prosinec</option>
                        <option value="1">Leden</option>
                        <option value="2">Únor</option>
                        <option value="3">Březen</option>
                        <option value="4">Duben</option>
                        <option value="5">Květen</option>
                        <option value="6">Červen</option>
                        <option value="7">Červenec</option>
                    </select>
                    <button onclick="scrollToMonth()">Na&nbspměsíc</button>
                </div>
                    <section class="grid-container days-header">
                        <p class="grid-item">PONDĚLÍ</p>
                        <p class="grid-item">ÚTERÝ</p>
                        <p class="grid-item">STŘEDA</p>
                        <p class="grid-item">ČTVRTEK</p>
                        <p class="grid-item">PÁTEK</p>
                        <p class="grid-item">VÍKEND</p>
                    </section>
                    <section class="grid-container">
                        <%
                            let startDate = new Date(2024,7,1);
                            let endDate = new Date(2025,6,31);
                            const increment = 24 * 60 * 60 * 1000 //Miliseconds per day
                            let a = false
                            console.log("aaa")
                        %>
                        <% for (let i = startDate.getTime(); i <= endDate.getTime();i += increment) {%>
                            <% if(new Date(i).getDay() != 0) {%>

                            <section id=<%= new Date(i).toLocaleDateString('en-CA', { timeZone: 'Europe/Prague' }) %>  style="grid-column-start: <%= new Date(i).getDay()%> ;" class="grid-item">
                                <% if(new Date(i).getDay() == 6) {%>
                                <p><%= new Date(i).getDate()%> / <%= new Date(i).getMonth() + 1%> - <%= new Date(i+increment).getDate()%> / <%= new Date(i+increment).getMonth() + 1%></p>

                                <% }else{%>
                                    <p><%= new Date(i).getDate()%> / <%= new Date(i).getMonth() + 1%></p>
                                <% }%>


                                
                                <% if (new Date(i).getDate() == date_udalost[0] && new Date(i).getMonth() + 1 == date_udalost[1]) {%>
                                <p><%= date_udalost[2]%></p>  
                                <%}%>

                            </section>
                            

                            <% }%>  
                        <% }%>                
                    </section>
            </article>
        </main>
    <script>
        function scrollToCurrent() {
            const increment = 24 * 60 * 60 * 1000
            let today = new Date();
            //Pokud je nedele, scrolluje se na sobotu
            if(Number(today.getDay()) == 0)
                today = new Date(Number(today.getTime()) - increment)
            let currentDate = today.toISOString().split('T')[0]; // Format YYYY-MM-DD
            let element = document.getElementById(currentDate);
            
            if (element) {
                element.scrollIntoView({ behavior: 'smooth', block: 'start' });
            } else {
                console.error("Element pro aktuální datum nebyl nalezen.");
            }
        }

        function scrollToMonth() {
        
            const select = document.getElementById("months");
            const month = select.value;
            const year = (month < 8) ? 2025 : 2024;  // Nastavení roku podle výběru měsíce
            let selected = document.getElementById(`${year}-${month.padStart(2, '0')}-01`);
            
            if (selected) {
                selected.scrollIntoView({ behavior: 'smooth', block: 'start' });
            } else {
                selected = document.getElementById(`${year}-${month.padStart(2, '0')}-02`);
                selected.scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            placeUdalosti()
        })

        function placeUdalost(udalost){
            const increment = 24 * 60 * 60 * 1000
            let date = udalost.datum
            const dateCheck = new Date(udalost.datum)
            if (Number(dateCheck.getDay()) == 0)
                date = new Date(Number(dateCheck.getTime()) - increment).toLocaleDateString('en-CA', { timeZone: 'Europe/Prague' })
            let day = document.getElementById(date)      

            let p = document.createElement("p")
            p.textContent = udalost.nazev
            p.className = "udalost"
            day.appendChild(p)
            return p
        }

        function placeUdalosti() {
            let udalosti = <%- JSON.stringify(udalosti) %>

            for (let i=1;i<udalosti.length;i++){
                if(udalosti[i] != null){                    
                    if(udalosti[i].naPocetDni > 0){
                        for(let j=0; j < udalosti[i].naPocetDni ;j++){
                            let udalost = { ...udalosti[i] };
                            let date = new Date(udalost.datum);
                            date.setDate(date.getDate() + j);
                            udalost.datum = date.toISOString().split('T')[0];

                            let element = placeUdalost(udalost)
                            element.classList.add("udalost", "udalostVicedenni")
                            while (element.previousSibling != null){
                                element.parentNode.insertBefore(element, element.previousSibling)
                                if(element.previousSibling == element.parentNode.firstElementChild)
                                    break
                            }
                    }}
                    else
                        placeUdalost(udalosti[i])
                }                             
            }
        }

    </script>
    <script src="/kalendar/js/main.js"></script>
