<!DOCTYPE html>
<%- include('../partials/head'); %>
<link rel="stylesheet" href="/osnovy/css/main.css" />
<article
style="
width: 20vw;
min-width: 20vw;
margin-right: 1em;
resize: horizontal;
">
	<header style="border: 0">
      <h1>Osnovy</h1>

	</header>
   <main style="margin-top: -1px;">
		<div style="margin: -16px; margin-bottom: 16px; padding: 16px; padding-bottom: 0px; padding-top: 0px; background-color: var(--pico-primary-background);">
			<form id="create">
				<input
				class="createButton outline createCurButton"
				type="submit"
				value="Přidat tematický plán"
				onclick="CreateCurriculum()" />
			</form>
		</div>
      <% for (let i = 1; i < cur["nextID"]; i++) {%>
      <div style="display: flex" class="cur">
         <input
         class="deleteCurButton"
         type="button"
         value="-"
         onclick="RemoveCurriculum(<%= i %>)" />
         <input style="margin-left: 0;" type="button" value="<%= cur[i]["trida"] %> <%= cur[i]["predmet"].split('-')[0] %><% if( cur[i]["predmet"].split('-')[1] == "c") { %>cv<% } %>"
         onclick="window.location.href = '/osnovy/<%= i %>';">
		</div>
      <% } %>
	</main>
</article>

<article style="flex: 3;">
   <% if (cur[id] != undefined){ %>
   <header style="margin: 0; min-height: 4.5rem">
      <nav>
        <hgroup>
          <h1 style="display:inline; vertical-align:middle;">Tematický plán</h1>
		  <p style="display:inline; vertical-align:bottom; margin-left: 1rem">
				<%= cur[id]["trida"]; %> -
				<%= cur[id]["predmet"].split('-')[0] %><% if( cur[id]["predmet"].split('-')[1] == "c") { %>cv<% } %>
			 </p>
		</hgroup>
		<hgroup style="display: flex; gap: 0.5em;">  
		  <input class="editbutton" style="width: 8rem; padding: 0; min-height: 0; height: 2em; margin: 0; line-height: 1em;" type="button" value="Uložit" onclick="document.getElementById('saveButtonBoop').click()" />
		</hgroup>
	  </nav>
	</header>
   <main style="padding-top: 0">
      <div
      style="
	  margin-top: 15px;
      display: flex;
      padding-right: 15px;
	  overflow-y: none;
      ">
         <div style="flex: auto">
 			<table style="overflow-y: auto; max-height: calc(100vh - 14em); padding-right: 15px;" id="curriculums">
               <thead style="position: sticky; top: 0; z-index: 1">
					<tr>
						<th style="width: 70%">Téma</th>
						<th style="text-align: center">Od</th>
						<th style="text-align: center">Do</th>
						<th style="text-align: center; width: 20%">Hodin</th>
					</tr>
				</thead>
               <tbody id="table-body">
                  <% let doPredchozi = 0; %> <% for (let i = 1; i <
						cur[id]["temata"]["nextID"]; i++) {%>
                  <tr class="cur">
                     <td style="display: flex" class="curriculum-input">
                        <input
                        style="margin-bottom: 0"
                        class="deleteCurButton"
                        type="button"
                        value="-"
                        onclick="deleteRow(this)" />
                        <input style="margin: 0;" class="curriculum-i" type="text"
                        value="<%= cur[id]["temata"][i]["tema"] %>">
							</td>

                     <% let od = doPredchozi; %> <% let doCur = od; %> %> <% doCur
                        -= -(cur[id]["temata"][i]["pocetHodin"]); %> <% doPredchozi =
							doCur; %>
                     <td style="text-align: center"><%= od %></td>
                     <td style="text-align: center"><%= doCur %></td>
                     <td style="text-align: center">
                        <input class="hour-input" style="margin: 0;" type="number" value="<%=
								cur[id]["temata"][i]["pocetHodin"] %>"
                        onchange="updateFrontend();" min="0"
                        oninput="validity.valid||(value='');">
							</td>
						</tr>
                  <% } %>
                  <tr style="bottom: 0; z-index: 1">
                     <td colspan="4">
                        <input
                        class="createButton"
                        style="padding: 0; min-height: 0; height: 2em; margin: 0"
                        type="button"
                        value="+"
                        onclick="addRow()" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
         <div style="width: 16em; margin-left: 2em; position: sticky; top: 0">
 				<form id="save" onsubmit="SaveCurriculum(event, <%= id %>)" style="position: sticky">

               <div style="display: flex; align-items: flex-start; width: 100%;">
						<div style="margin-right: 20px; flex-grow: 1;">
							<label for="rocnik">Ročník:</label>
							<select name="rocnik" id="rocnik" onchange="calculateTheTotalHours()" style="width: 100%;">
								<% for (let i = 1; i < 5; i++){ %>
									<option value="<%= i %>" <% if (cur[id]['trida'].split('.')[0] == i) {%> selected <% } %> ><%= i %></option>
								<% } %>
							</select>
						</div>

						<div style="flex-grow: 1;">
							<label for="obor">Obor:</label>
							<select name="obor" id="obor" style="width: 100%;">
                        <% for (let field in fields){ %>
								<option value="<%= fields[field] %>" <% if (cur[id]['trida'].split('.')[1] == fields[field]) {%> selected <% } %> ><%= fields[field] %></option>
								<% } %>
							</select>
						</div>
					</div>
					
					<div style="display: flex; align-items: center;">
						<div style="margin-right: 0; flex-grow: 1;">
							<label for="predmet">Předmět:</label>
							<input tyoe="text" id="predmet" name="predmet" value="<% if ( subjects[id-1] != undefined ) { %><%= subjects[id-1].split('-')[0]; %><% } else { %><% } %>" />
							<!-- <select name="predmet" id="predmet">
								<!% for (let i = 0; i < subjects.length; i++){ %>
								<!% let subject = subjects[i].split('-');%>
								<!% if (subject[1] == 't'){ %>

								<option value="<!%= subject[0] %>" <!% if (cur[id]['predmet'].split('-')[0] == subject[0]) {%> selected <!% } %> ><!%= subject[0] %></option>

								<!% } %> <!% } %>
							</select> -->
						</div>
					</div>
						<!-- <div id="customHoursAWeekDiv"> -->
						<!-- 	<label for="customHoursAWeek">Vlastní hodiny týdně: <br/>0 = výchozí počítání</label> -->
						<!-- 	<input type="number" id="customHoursAWeek" name="customHoursAWeek" value="0" min="0" onchange="calculateTheTotalHours();" /> -->
						<!-- </div> -->
					
					<div style="display: flex; justify-content: center; width: 100%;">
								<label for="cviceniCheckBox">Cvičení
									<!-- <input type="checkbox" id="cviceniCheckBox" name="cviceni" onchange="calculateTheTotalHours()" <% if (cur[id]['predmet'].split('-')[1] == 'c') {%> checked <% } %>/> -->
									<input type="radio" id="cviceniCheckBox" name="cviceni" onchange="calculateTheTotalHours()" <% if (cur[id]['predmet'].split('-')[1] == 'c') {%> checked <% } %>>
								</label>
							
								<label for="teorieCheckBox">Teorie
									<!-- <input type="checkbox" id="teorieCheckBox" name="teorie" onchange="calculateTheTotalHours()" <% if (cur[id]['predmet'].split('-')[1] == 't') {%> checked <% } %>/> -->
									<input type="radio" id="teorieCheckBox" name="teorie" onchange="calculateTheTotalHours()" <% if (cur[id]['predmet'].split('-')[1] == 't') {%> checked <% } %>>
								</label>

								<label for="calculateHours">Ručně
									<!-- <input type="checkbox" id="calculateHours" name="calculateHours" onchange="hideDiv('customHoursAWeekDiv'); threeWaySwitch();" checked/> -->
									<input type="radio" id="calculateHours" name="calculateHours" onchange="hideDiv('customHoursAWeekDiv'); threeWaySwitch();" <% if (cur[id]['predmet'].split('-')[1] != 't' && cur[id]['predmet'].split('-')[1] != 'c') {%> checked <% } %>>
								</label>
						</div>
					
               <label for="pHodin">Počet Hodin:</label>

					<% let pocetHodin = 0; %>
					<% for (let ti = 1; ti < cur[id]['temata']['nextID']; ti++){ %>
					<% 	pocetHodin += cur[id]['temata'][ti]['pocetHodin'];%>
					<% } %>
               <input type="number" id="pHodin" name="pHodin" value="<%= pocetHodin %>" min="0" />

               <input type="submit" id="saveButtonBoop" value="Uložit" style="background-color: green; display: none" />
				</form>
			</div>
		</div>
		<% } %>
	</main>
</article>
<script src="/osnovy/js/main.js"></script>
<%- include('../partials/tail') %>
