<!DOCTYPE html>
<%- include('../partials/head'); %>
<link rel="stylesheet" href="/maturita/css/main.css">

<article style="flex: 3; overflow-y: auto; position: relative">
   <header>
      
      <div>
        <h1>Maturity</h1>
      </div>
      
      <div>
        <button
            type="submit"
            id="submitButton"
            class="editbutton"
            form="form"
            style="display: none;">
            Uložit
          </button>
          <button
            type="button"
            id="editButton"
            class="editbutton"
            onclick="enableForm()">
            Změnit
          </button>
      </div>
      
      <div>
        <div role="group">
            <button
              onclick="window.location.href='/maturity'"
              hx-target="body"
              hx-push-url="true"
              >
            Praktická</button>
            <button
              class="outline"
              onclick="window.location.href='/maturity/pcmz'"
              hx-target="body"
              hx-push-url="true"
              >
            Ústní</button>
            <button
              class="outline"
              onclick="window.location.href='/maturity/scmz'"
              hx-target="body"
              hx-push-url="true"
              >
            Státní</button>
            <button
              class="outline"
              onclick="window.location.href='/maturity/sloh'"
              hx-target="body"
              hx-push-url="true"
              >
            Sloh</button>
          </div>
      </div>
      
    </header>
  <main>
    <h2>Praktická zkouška z odborných předmětů</h2>
    <form
      action="/maturity/ukladanipzop"
      method="POST"
      style="display: flex; flex-direction: column"
      id="form">
      <label for="den-konani">Den konání:</label>
      <input type="date" id="den-konani" name="den_konani" value=<%=dny[0]%> disabled/>
  
      <label for="dodatecne-dny">Dodatečný den:</label>
      <input type="date" id="dodatecne-dny" name="dodatecne_dny" value=<%=dny[1]%> disabled/>
  
      <label for="ucebna">Učebna:</label>
      <select
        id="ucebna"
        name="ucebna"
        style="margin-bottom: 1em; padding: 0.5em"
        disabled>
        <% for (const id in ucebny) { %> 
          <% const nazevUcebny = ucebny[id]; %>
          <% if (ucebna === ucebny[id]) { %>
            <option value="<%= nazevUcebny %>" selected><%= nazevUcebny %></option>
          <% } else { %>
            <option value="<%= nazevUcebny %>"><%= nazevUcebny %></option>
          <% } %>
        <% } %>
      </select>
    </form>
  </main>
</article>

<%- include('../partials/tail') %>

<script src="/maturita/js/main.js"> </script>
