<!DOCTYPE html>
<%- include('../partials/head'); %>
<!-- <article -->
<!--   style=" -->
<!--     width: 19vw; -->
<!--     min-width: 19vw; -->
<!--     margin-right: 0em; -->
<!--     overflow-y: auto; -->
<!--     resize: horizontal; -->
<!--   "> -->
<!--   <div class="button"> -->
<!--     <a href="../maturity/"> -->
<!--       <button class="tlacitko">Praktická</button> -->
<!--     </a> -->
<!--     <a href="../maturity/pcmz"> -->
<!--       <button class="tlacitko">Ústní</button> -->
<!--     </a> -->
<!--     <a href="../maturity/scmz"> -->
<!--       <button class="tlacitko">Státní</button> -->
<!--     </a> -->
<!--     <a href="../maturity/sloh"> -->
<!--       <button class="tlacitko">Sloh</button> -->
<!--     </a> -->
<!--   </div> -->
<!-- </article> -->
    <article style="flex: 3; overflow-y: auto">
      <header>
        <nav>
          <ul>
            <li>
              <h1>PŽOP</h1>
            </li>
          </ul>
          <ul>
            <li>
              <div role="group">
                <button
                  hx-get="/maturity"
                  hx-target="body"
                  hx-push-url="true"
                  hx-swap="transition:true">
                PŽOP</button>
                <button
                  class="outline"
                  hx-get="/maturity/pcmz"
                  hx-target="body"
                  hx-push-url="true"
                  hx-swap="transition:true">
                PČMZ</button>
                <button
                  class="outline"
                  hx-get="/maturity/scmz"
                  hx-target="body"
                  hx-push-url="true"
                  hx-swap="transition:true">
                SČMZ</button>
                <button
                  class="outline"
                  hx-get="/maturity/sloh"
                  hx-target="body"
                  hx-push-url="true"
                  hx-swap="transition:true">
                SLOH</button>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <main>
           <h1 class="headline">Praktická zkouška z odborných předmětů</h1>
           <form
             action="/maturity/ukladanipzop"
             method="POST"
             style="display: flex; flex-direction: column"
             id="form">
             <label for="den-konani">Den konání:</label>
             <input type="date" id="den-konani" name="den_konani" value=<%=dny[0]%> disabled/>

             <label for="dodatecne-dny">Dodatečné dny:</label>
             <input type="date" id="dodatecne-dny" name="dodatecne_dny" value=<%=dny[1]%> disabled/>

    <label for="ucebna">Učebna:</label>
    <select
      id="ucebna"
      name="ucebna"
      style="margin-bottom: 1em; padding: 0.5em"
      disabled>
      <% for (const id in ucebny) { %> 
        <% const nazevUcebny = ucebny[id]; %>
        <% if (ucebna === id) { %>
          <option value="<%= id %>" selected><%= nazevUcebny %></option>
        <% } else { %>
          <option value="<%= id %>"><%= nazevUcebny %></option>
        <% } %>
      <% } %>
    </select>
        
    <div style="text-align: center">
      <button
        type="button"
        id="editButton"
        onclick="enableForm()"
        style="padding: 0.5em; border: none; cursor: pointer; width: 150px">
        Edit
      </button>
      <button
        type="submit"
        id="submitButton"
        style="padding: 0.5em; border: none; cursor: pointer; width: 150px; display: none;">
        Uložit
      </button>
    </div>
  </form>
</article>

<script>
  function enableForm() {
    const form = document.getElementById("form");
    const inputs = form.querySelectorAll("input, select");

    inputs.forEach((input) => {
      input.disabled = false;
    });

    document.getElementById("editButton").style.display = "none";
    document.getElementById("submitButton").style.display = "inline-block";
  }
</script>
<%- include('../partials/tail') %>
