<!DOCTYPE html>
<%- include('../partials/head'); %>
<style>
  .button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding: 10px;
  }
  .tlacitko {
    margin: 8px 0;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  /* Přidání odsazení formuláře */
  form {
    padding: 10px;
  }
  /* Styl podtržení nadpisu */
  .headline {
    padding: 10px;
    position: relative;
    display: inline-block;
    color: white;
    font-size: 1.5em;
  }
  .headline::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  
  input[disabled],
  select[disabled],
  textarea[disabled] {
    color: inherit !important;
    opacity: 1 !important;
  }
</style>

<article style="flex: 3; overflow-y: auto; position: relative">
  <header>
    <nav>
      <ul>
        <li>
          <h1>Maturity</h1>
        </li>
      </ul>
      <ul>
        <li>
          <button
            type="submit"
            id="submitButton"
            class="editbutton"
            form="form"
            style="display: none;">
            Uložit
          </button>
          <button
            type="button"
            id="editButton"
            class="editbutton"
            onclick="enableForm()">
            Edit
          </button>
        </li>
        <li>
      <div role="group">
        <button onclick="window.location.href='/maturity'">
          Praktická
        </button>
        <button class="outline" onclick="window.location.href='/maturity/pcmz'">
          Ústní
        </button>
        <button class="outline" onclick="window.location.href='/maturity/scmz'">
          Státní
        </button>
        <button class="outline" onclick="window.location.href='/maturity/sloh'">
          Sloh
        </button>
      </div>
    </li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Praktická zkouška z odborných předmětů</h2>
    <form
      action="/maturity/ukladanipzop"
      method="POST"
      style="display: flex; flex-direction: column"
      id="form">
      <label for="den-konani">Den konání:</label>
      <input type="date" id="den-konani" name="den_konani" value=<%=dny[0]%> disabled/>
  
      <label for="dodatecne-dny">Dodatečné dny:</label>
      <input type="date" id="dodatecne-dny" name="dodatecne_dny" value=<%=dny[1]%> disabled/>
  
      <label for="ucebna">Učebna:</label>
      <select
        id="ucebna"
        name="ucebna"
        style="margin-bottom: 1em; padding: 0.5em"
        disabled>
        <% for (const id in ucebny) { %> 
          <% const nazevUcebny = ucebny[id]; %>
          <% if (ucebna === id) { %>
            <option value="<%= id %>" selected><%= nazevUcebny %></option>
          <% } else { %>
            <option value="<%= id %>"><%= nazevUcebny %></option>
          <% } %>
        <% } %>
      </select>
    </form>
  </main>
</article>

<%- include('../partials/tail') %>

<script>
  function enableForm() {
    const form = document.getElementById("form");
    const inputs = form.querySelectorAll("input, select");

    inputs.forEach((input) => {
      input.disabled = false;
    });

    document.getElementById("editButton").style.display = "none";
    document.getElementById("submitButton").style.display = "inline-block";
  }
</script>
