<!DOCTYPE html>
<%- include('../partials/head'); %>
<link rel="stylesheet" href="/maturita/css/main.css">
<link rel="stylesheet" href="/maturita/css/scmz.css">

<article style="flex: 3; overflow-y: auto">
   <header>
      
      <div>
        <h1>Maturity</h1>
      </div>
      
      <div>
        <button
          type="submit"
          form="mform"
          id="save-button"
          class="editbutton"
          style="display:none">
          Uložit
        </button>
        <button
          type="button"
          id="edit-button"
          class="editbutton"
          onclick="toggleEdit()">
          Změnit
        </button>
      </div>
      
      <div>
        <div role="group">
          <button
            class="outline"
            onclick="window.location.href='/maturity'"
            hx-target="body"
            hx-push-url="true">
            Praktická
          </button>
          <button
            class="outline"
            onclick="window.location.href='/maturity/pcmz'"
            hx-target="body"
            hx-push-url="true">
            Ústní
          </button>
          <button
            onclick="window.location.href='/maturity/scmz'"
            hx-target="body"
            hx-push-url="true">
            Státní
          </button>
          <button
            class="outline"
            onclick="window.location.href='/maturity/sloh'"
            hx-target="body"
            hx-push-url="true">
            Sloh
          </button>
        </div>
      </div>
      
    </header>
  <main>
    <h2>Společná část maturitní zkoušky</h2>
    <form
      id="mform"
      action="/maturity/ukladaniscmz"
      method="POST"
      style="display: flex; flex-direction: column">
      <table
        id="scmz-table"
        style="width: 100%; border-collapse: collapse; margin-bottom: 1em">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Zadávám</th>
            <th>Od</th>
            <th>Do</th>
            <th>Učebna</th>
            <th>Předmět</th>
          </tr>
        </thead>
        <tbody>
          <%let info = Object.entries(data)%>
          <%let data_length = info.length%>
          <%if (data_length == 0) { data_length = 1 }%>
          <% for (i = 0; i < data_length; i++) {%>
            <tr>
              <%let date = info[i] && info[i][0] ? info[i][0] : ""%>
              <%let extra_info = info[i] && info[i][1] ? info[i][1] : []%>
              <%let zadavani = false%>
              <%let bool_extra_info = extra_info.length > 0%>
              <%let casod = bool_extra_info ? extra_info[0] : ""%>
              <%let casdo = bool_extra_info ? extra_info[1] : ""%>
              <%let ucebna = bool_extra_info ? extra_info[2] : ""%>
              <%let predmet = bool_extra_info ? extra_info[3] : ""%>
              <%
                if (extra_info.length > 0 && extra_info[0] && extra_info[1] && extra_info[2] && extra_info[3]) {
                  zadavani = true;
                }
              %>

              <td><input type="date" value="<%=date%>" name="den<%=i+1%>_datum" disabled /></td>
              <td>
                <input
                  type="checkbox"
                  name="den<%=i+1%>_checkbox"
                  class="zadavani-checkbox"
                  style="font-size: 50px; padding: 0.5em"
                  <%if (zadavani) {%>checked<%}%>
                  disabled/>
              </td>
              <td>
                <input
                  type="time"
                  name="den<%=i+1%>_casod"
                  class="casod-input"
                  value="<%=casod%>"
                  style="padding: 0.5em" 
                  disabled/>
              </td>
              <td>
                <input
                  type="time"
                  name="den<%=i+1%>_casdo"
                  class="casdo-input"
                  value="<%=casdo%>"
                  style="padding: 0.5em" 
                  disabled/>
              </td>
              <td>
                <input
                  type="text"
                  name="den<%=i+1%>_ucebna"
                  class="ucebna-input"
                  value="<%=ucebna%>"
                  style="padding: 0.5em"
                  disabled />
              </td>
              <td>
                <select
                  name="den<%=i+1%>_predmet"
                  class="predmet-select"
                  disabled
                  style="padding: 0.5em">
                  <option value="">Vyberte předmět</option>
                  <option value="ČJ" <%if (predmet == "ČJ") {%>selected="selected"<%}%>>ČJ</option>
                  <option value="AJ" <%if (predmet == "AJ") {%>selected="selected"<%}%>>AJ</option>
                  <option value="MA" <%if (predmet == "MA") {%>selected="selected"<%}%>>MA</option>
                </select>
              </td>
            </tr>
          <%}%>
        </tbody>
      </table>

      <div style="text-align: center; margin-top: 1em">
        <button
          type="button"
          id="pridat-datum"
          style="padding: 0.5em; width: 150px; border: none; cursor: pointer" 
          disabled>
          Přidat datum
        </button>
      </div>

      <div class="button-container">
        <button
          type="submit"
          id="save-button"
          style="padding: 0.5em; width: 150px; border: none; cursor: pointer; display: none;">
          Uložit
        </button>
      </div>
    </form>
  </main>
</article>

<script src="/maturita/js/scmz.js"></script>

<%- include('../partials/tail'); %>
