<!DOCTYPE html>
<%- include('../partials/head'); %>
<style>
  .button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding: 10px;
  }
  .tlacitko {
    margin: 8px 0;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .zaskrtavaci_policko {
    font-size: 50px;
  }

  input[type="date"],
  input[type="checkbox"],
  input[type="text"],
  input[type="time"],
  select {
    padding: 0.5em;
    font-size: 20px;
  }

  input[disabled],
  select[disabled],
  textarea[disabled] {
    color: inherit !important;
    opacity: 1 !important;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  
  header {
      display: flex;
  }
  
  header > div:nth-of-type(1) {
      flex: 1;
      text-align: left;
  }
  header > div:nth-of-type(2) {
      flex: 1;
      display: flex;
      justify-content: right;
  }
  header > div:nth-of-type(2) > button {
    width: 5em;
  }
  header > div:nth-of-type(3) {
      flex: 1;
  }
  
  #save-button {
      margin-right: 1em;
  }
  #edit-button {
      margin-right: 1em;
  }
</style>

<article style="flex: 3; overflow-y: auto">
   <header>
      
      <div>
        <h1>Maturity</h1>
      </div>
      
      <div>
        <button
          type="submit"
          form="mform"
          id="save-button"
          class="editbutton"
          style="display:none">
          Uložit
        </button>
        <button
          type="button"
          id="edit-button"
          class="editbutton"
          onclick="toggleEdit()">
          Edit
        </button>
      </div>
      
      <div>
        <div role="group">
          <button
            class="outline"
            hx-get="/maturity"
            hx-target="body"
            hx-push-url="true">
            Praktická
          </button>
          <button
            class="outline"
            hx-get="/maturity/pcmz"
            hx-target="body"
            hx-push-url="true">
            Ústní
          </button>
          <button
            hx-get="/maturity/scmz"
            hx-target="body"
            hx-push-url="true">
            Státní
          </button>
          <button
            class="outline"
            hx-get="/maturity/sloh"
            hx-target="body"
            hx-push-url="true">
            Sloh
          </button>
        </div>
      </div>
      
    </header>
   
  <main>
    <h2>Společná část maturitní zkoušky</h2>
    <form
      id="mform"
      action="/maturity/ukladaniscmz"
      method="POST"
      style="display: flex; flex-direction: column">
      <table
        id="scmz-table"
        style="width: 100%; border-collapse: collapse; margin-bottom: 1em">
        <thead>
          <tr>
            <th>Datum:</th>
            <th>Zadávání:</th>
            <th>Čas:</th>
            <th>Učebna:</th>
            <th>Předmět:</th>
          </tr>
        </thead>
        <tbody>
          <%let info = Object.entries(data)%>
          <%let data_length = info.length%>
          <%if (data_length == 0) { data_length = 1 }%>
          <% for (i = 0; i < data_length; i++) {%>
            <tr>
              <%let date = info[i] && info[i][0] ? info[i][0] : ""%>
              <%let extra_info = info[i] && info[i][1] ? info[i][1] : []%>
              <%let zadavani = true%>
              <%let bool_extra_info = extra_info.length > 0%>
              <%let cas = bool_extra_info ? extra_info[0] : ""%>
              <%let ucebna = bool_extra_info ? extra_info[1] : ""%>
              <%let predmet = bool_extra_info ? extra_info[2] : ""%>
              <%if (extra_info.length == 0) {zadavani = false}%>

              <td><input type="date" value="<%=date%>" name="den<%=i+1%>_datum" disabled /></td>
              <td>
                <input
                  type="checkbox"
                  name="den<%=i+1%>_checkbox"
                  class="zadavani-checkbox"
                  style="font-size: 50px; padding: 0.5em"
                  <%if (bool_extra_info) {%>checked<%}%>
                  disabled />
              </td>
              <td>
                <input
                  type="time"
                  name="den<%=i+1%>_cas"
                  class="cas-input"
                  value="<%=cas%>"
                  style="padding: 0.5em" 
                  disabled/>
              </td>
              <td>
                <input
                  type="text"
                  name="den<%=i+1%>_ucebna"
                  class="ucebna-input"
                  value="<%=ucebna%>"
                  style="padding: 0.5em"
                  disabled />
              </td>
              <td>
                <select
                  name="den<%=i+1%>_predmet"
                  class="predmet-select"
                  disabled
                  style="padding: 0.5em">
                  <option value="">Vyberte předmět</option>
                  <option value="ČJ" <%if (predmet == "ČJ") {%>selected="selected"<%}%>>ČJ</option>
                  <option value="AJ" <%if (predmet == "AJ") {%>selected="selected"<%}%>>AJ</option>
                  <option value="MA" <%if (predmet == "MA") {%>selected="selected"<%}%>>MA</option>
                </select>
              </td>
            </tr>
          <%}%>
        </tbody>
      </table>

      <div style="text-align: center; margin-top: 1em">
        <button
          type="button"
          id="pridat-datum"
          style="padding: 0.5em; width: 150px; border: none; cursor: pointer" 
          disabled>
          Přidat datum
        </button>
      </div>

      <div class="button-container">
        <button
          type="submit"
          id="save-button"
          style="padding: 0.5em; width: 150px; border: none; cursor: pointer; display: none;">
          Uložit
        </button>
      </div>
    </form>
  </main>
</article>

<script>
  let dayCounter = document.getElementById("scmz-table").querySelector("tbody").children.length;
  if (dayCounter == 0) { dayCounter = 1; }

  document
    .getElementById("pridat-datum")
    .addEventListener("click", function () {
      dayCounter++;
      const tableBody = document.querySelector("#scmz-table tbody");
      const newRow = document.createElement("tr");

      newRow.innerHTML = `
        <td><input type="date" name="den${dayCounter}_datum" disabled></td>
        <td><input type="checkbox" class="zadavani-checkbox" style="padding: 0.5em; font-size: 50px;" disabled></td>
        <td><input type="time" name="den${dayCounter}_cas" class="cas-input" disabled style="padding: 0.5em;"></td>
        <td>
          <input type="text" name="den${dayCounter}_ucebna" class="ucebna-input" disabled style="padding: 0.5em;">
        </td>
        <td>
          <select name="den${dayCounter}_predmet" class="predmet-select" disabled style="padding: 0.5em;">
            <option value="">Vyberte předmět</option>
            <option value="ČJ">ČJ</option>
            <option value="AJ">AJ</option>
            <option value="MA">MA</option>
          </select>
        </td>
      `;

      tableBody.appendChild(newRow);
      addCheckboxFunctionality(newRow);

      if (document.getElementById("edit-button").style.display === "none") {
        newRow.querySelector("input[type='date']").disabled = false;
        newRow.querySelector("input[type='checkbox']").disabled = false;
      }
    });

  function addCheckboxFunctionality(row) {
    const checkbox = row.querySelector(".zadavani-checkbox");
    const timeInput = row.querySelector(".cas-input");
    const classroomInput = row.querySelector(".ucebna-input");
    const subjectSelect = row.querySelector(".predmet-select");

    checkbox.addEventListener("change", function () {
      if (checkbox.checked) {
        timeInput.disabled = false;
        classroomInput.disabled = false;
        subjectSelect.disabled = false;
      } else {
        timeInput.value = "";
        timeInput.disabled = true;
        classroomInput.value = "";
        classroomInput.disabled = true;
        subjectSelect.selectedIndex = 0;
        subjectSelect.disabled = true;
      }
    });
  }

  document.getElementById("edit-button").addEventListener("click", function () {
    document.querySelectorAll("input[type='date'], input[type='checkbox']").forEach(input => input.disabled = false);
    document.getElementById("pridat-datum").disabled = false; 
    document.getElementById("edit-button").style.display = "none";
    document.getElementById("save-button").style.display = "inline-block";
  });

  document.querySelector("form").addEventListener("submit", function () {
    document.querySelectorAll("tbody tr").forEach(function (row) {
      const checkbox = row.querySelector(".zadavani-checkbox");
      const timeInput = row.querySelector(".cas-input");
      const classroomInput = row.querySelector(".ucebna-input");
      const subjectSelect = row.querySelector(".predmet-select");

      if (checkbox.checked) {
        timeInput.disabled = false;
        classroomInput.disabled = false;
        subjectSelect.disabled = false;
      }
    });
  });

  document.querySelectorAll("tbody tr").forEach(addCheckboxFunctionality);
</script>

<%- include('../partials/tail'); %>
